<%= render 'account/shared/page' do |page| %>
  <% page.title t('.section') %>
  <% page.body do %>
    <%# Show generation status if app is being generated %>
    <% if @app.status.in?(["generating", "failed"]) %>
      <%= turbo_stream_from "app_#{@app.id}_generation" %>
      <div id="app_generation_status" class="mb-8">
        <%= render 'account/apps/generation_status', app: @app, status: @app.status, message: nil %>
      </div>
    <% end %>
    
    <%= cable_ready_updates_for @app do %>
      <%= render 'account/shared/box', divider: true do |box| %>
        <% box.title t('.header') %>
        <% box.description do %>
          <%= t('.description') %>
          <%= t('.manage_description') if can? :manage, @app %>
        <% end %>

        <% box.body do %>
          <% with_attribute_settings object: @app, strategy: :label do %>
            <%= render 'shared/attributes/text', attribute: :name %>
            <%= render 'shared/attributes/text', attribute: :slug %>
            <%= render 'shared/attributes/text', attribute: :description %>
            <%= render 'shared/attributes/belongs_to', attribute: :creator %>
            <%= render 'shared/attributes/text', attribute: :prompt %>
            <%= render 'shared/attributes/option', attribute: :app_type %>
            <%= render 'shared/attributes/option', attribute: :framework %>
            <%= render 'shared/attributes/option', attribute: :status %>
            <%= render 'shared/attributes/option', attribute: :visibility %>
            <%= render 'shared/attributes/number', attribute: :base_price %>
            <%= render 'shared/attributes/text', attribute: :stripe_product_id %>
            <%= render 'shared/attributes/text', attribute: :preview_url %>
            <%= render 'shared/attributes/text', attribute: :production_url %>
            <%= render 'shared/attributes/text', attribute: :github_repo %>
            <%= render 'shared/attributes/number', attribute: :total_users %>
            <%= render 'shared/attributes/number', attribute: :total_revenue %>
            <%= render 'shared/attributes/number', attribute: :rating %>
            <%= render 'shared/attributes/option', attribute: :featured %>
            <%= render 'shared/attributes/date_and_time', attribute: :featured_until %>
            <%= render 'shared/attributes/date_and_time', attribute: :launch_date %>
            <%= render 'shared/attributes/text', attribute: :ai_model %>
            <%= render 'shared/attributes/number', attribute: :ai_cost %>
            <%# 🚅 super scaffolding will insert new fields above this line. %>
          <% end %>
        <% end %>

        <% box.actions do %>
          <% if @app.generated? %>
            <%= link_to "Open Editor", account_app_editor_path(@app), class: "button-primary" %>
          <% end %>
          <%= link_to t('.buttons.edit'), [:edit, :account, @app], class: first_button_primary if can? :edit, @app %>
          <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
          <%= button_to t('.buttons.destroy'), [:account, @app], method: :delete, class: first_button_primary, data: { turbo_confirm: t('.buttons.confirmations.destroy', model_locales(@app)) } if can? :destroy, @app %>
          <%= link_to t('global.buttons.back'), [:account, @team, :apps], class: first_button_primary %>
        <% end %>

        <% box.raw_footer do %>
          <%# 🚅 super scaffolding will insert new action model index views above this line. %>
        <% end %>
      <% end %>
    <% end %>

    <%# Show generated files if app has been generated %>
    <% if @app.app_files.any? %>
      <%= render 'account/shared/box', divider: true do |box| %>
        <% box.title "Generated Files" %>
        <% box.description do %>
          <%= pluralize(@app.app_files.count, 'file') %> generated • 
          Total size: <%= number_to_human_size(@app.app_files.sum(:size_bytes)) %>
        <% end %>
        
        <% box.body do %>
          <div class="space-y-4">
            <% @app.app_files.order(:path).each do |file| %>
              <div class="border rounded-lg p-4">
                <div class="flex items-center justify-between mb-2">
                  <h4 class="font-mono text-sm font-medium"><%= file.path %></h4>
                  <span class="text-xs text-gray-500">
                    <%= file.file_type %> • <%= number_to_human_size(file.size_bytes) %>
                  </span>
                </div>
                <details class="group">
                  <summary class="cursor-pointer text-sm text-primary-600 hover:text-primary-700">
                    View code
                  </summary>
                  <pre class="mt-2 p-3 bg-gray-50 rounded text-xs overflow-x-auto"><code><%= file.content %></code></pre>
                </details>
              </div>
            <% end %>
          </div>
        <% end %>
        
        <% box.actions do %>
          <% if @app.preview_url.present? %>
            <%= link_to "Preview App", @app.preview_url, target: "_blank", class: "button-primary" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    
    <%= render 'account/app_versions/index', app_versions: @app.app_versions, hide_back: true %>
    <%= render 'account/app_files/index', app_files: @app.app_files, hide_back: true %>
    <%= render 'account/app_generations/index', app_generations: @app.app_generations, hide_back: true %>
    <%= render 'account/app_collaborators/index', app_collaborators: @app.app_collaborators, hide_back: true %>
    <%= render 'account/app_settings/index', app_settings: @app.app_settings, hide_back: true %>
    <%= render 'account/app_security_policies/index', app_security_policies: @app.app_security_policies, hide_back: true %>
    <%# 🚅 super scaffolding will insert new children above this line. %>
  <% end %>
<% end %>
