<% app = @app || @app %>
<% context ||= app %>
<% collection ||= :app_audit_logs %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: app_audit_log do %>
  <tr data-id="<%= app_audit_log.id %>">
    <%= render "shared/tables/checkbox", object: app_audit_log %>
    <td><%= render 'shared/attributes/text', attribute: :action_type, url: [:account, app_audit_log] %></td>
    <td><%= render 'shared/attributes/option', attribute: :performed_by %></td>
    <td><%= render 'shared/attributes/text', attribute: :target_resource %></td>
    <td><%= render 'shared/attributes/text', attribute: :resource_id %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, app_audit_log %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, app_audit_log], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, app_audit_log %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, app_audit_log], method: :delete, data: { turbo_confirm: t('.buttons.confirmations.destroy', model_locales(app_audit_log)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
