<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :app_generations %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: app_generation do %>
  <tr data-id="<%= app_generation.id %>">
    <%= render "shared/tables/checkbox", object: app_generation %>
    <td><%= render 'shared/attributes/belongs_to', attribute: :app, url: [:account, app_generation] %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, app_generation %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, app_generation], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, app_generation %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, app_generation], method: :delete, data: { turbo_confirm: t('.buttons.confirmations.destroy', model_locales(app_generation)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
