<% cancel_path ||= app_generation.persisted? ? [:account, app_generation] : [:account, @app, :app_generations] %>

<%= form_with model: app_generation, url: (app_generation.persisted? ? [:account, app_generation] : [:account, @app, :app_generations]), class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
      <%= render 'shared/fields/text_field', method: :status, options: {autofocus: true} %>
      <%= render 'shared/fields/text_field', method: :ai_model %>
      <%= render 'shared/fields/text_area', method: :prompt %>
      <%= render 'shared/fields/text_area', method: :enhanced_prompt %>
      <%= render 'shared/fields/date_and_time_field', method: :started_at %>
      <%= render 'shared/fields/date_and_time_field', method: :completed_at %>
      <%= render 'shared/fields/number_field', method: :duration_seconds %>
      <%= render 'shared/fields/number_field', method: :input_tokens %>
      <%= render 'shared/fields/number_field', method: :output_tokens %>
      <%= render 'shared/fields/number_field', method: :total_cost %>
      <%= render 'shared/fields/text_area', method: :error_message %>
      <%= render 'shared/fields/number_field', method: :retry_count %>
      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
