<%# File tree item with status indicators %>
<div id="<%= file_id %>" 
     class="flex items-center space-x-2 py-1.5 px-3 rounded-md transition-all duration-300 hover:bg-gray-50 dark:hover:bg-gray-800"
     data-controller="file-tree-item"
     data-file-tree-item-path-value="<%= file_path %>"
     data-file-tree-item-status-value="<%= status %>">
  
  <%# File icon based on type %>
  <div class="flex-shrink-0">
    <% case file_type %>
    <% when 'javascript' %>
      <svg class="w-4 h-4 text-yellow-500" fill="currentColor" viewBox="0 0 20 20">
        <path d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z"/>
      </svg>
    <% when 'stylesheet' %>
      <svg class="w-4 h-4 text-blue-500" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 0h8v12H6V4z" clip-rule="evenodd"/>
      </svg>
    <% else %>
      <svg class="w-4 h-4 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4z" clip-rule="evenodd"/>
      </svg>
    <% end %>
  </div>
  
  <%# File path %>
  <div class="flex-1 min-w-0">
    <p class="text-sm font-mono text-gray-700 dark:text-gray-300 truncate">
      <%= file_path %>
    </p>
  </div>
  
  <%# Status indicator %>
  <div id="<%= file_id %>-status" class="flex-shrink-0">
    <%= render 'chat_messages/components/file_status', status: status %>
  </div>
</div>